/* Add CSS Styling */
.black-btn, 
.yellow-btn {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.black-btn {
    background-color: rgb(0, 0, 0);
    color: white
}

.yellow-btn {
    background-color: rgb(236, 236, 0);
}
